<div class="logo">
  <a class="simple-text logo-mini" [routerLink]="[ '/' ]">
    <fa-icon [icon]="[ 'fas', 'box-open' ]" size="2x"></fa-icon>
  </a>
  <a class="simple-text logo-normal" [routerLink]="[ '/' ]">Productos</a>
  <div class="navbar-minimize">
    <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
      <fa-icon class="visible-on-sidebar-regular" [icon]="[ 'fas', 'align-center' ]"></fa-icon>
      <fa-icon class="visible-on-sidebar-mini" [icon]="[ 'fas', 'align-justify' ]"></fa-icon>
    </button>
  </div>
</div>
