<div class="card card-border text-center" *ngIf="isProductItem && isProduct">
  <img class="card-img-top card-img-max" [src]="item.product.thumbnailUrl">
  <div class="card-body">
    <p class="card-text product-title mb-0">
      {{ item.product.title }}
    </p>
    <div class="product-star">
      <fa-icon [icon]="[ 'far', 'star' ]" *ngFor="let star of [ 1, 2, 3, 4, 5 ]"
        [styles]="{ 'color': star <= item.stars ? '#FFA000' : '' }"></fa-icon>
    </div>
  </div>
  <div class="card-footer p-0">
    <div class="product-button-group">
      <a class="product-button" href="javascript:void(0)">
        <fa-icon [icon]="[ 'far', 'heart' ]"></fa-icon>
        <span>Lista de deseos</span>
      </a>
      <a class="product-button" href="javascript:void(0)">
        <fa-icon [icon]="[ 'fas', 'cart-plus' ]"></fa-icon>
        <span>Agregar al carrito</span>
      </a>
      <a class="product-button" href="javascript:void(0)">
        <fa-icon [icon]="[ 'fas', 'angle-right' ]"></fa-icon>
        <span>Detalles</span>
      </a>
    </div>
  </div>
</div>
