<div class="sidebar" data-color="red">
  <div class="logo">
    <a class="simple-text logo-mini" href="/" [routerLink]="[ '/' ]">
      <fa-icon [icon]="[ 'fas', 'box-open' ]" size="2x"></fa-icon>
    </a>
    <a class="simple-text logo-normal" href="/" [routerLink]="[ '/' ]">
      Productos
    </a>
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
        <fa-icon class="visible-on-sidebar-regular" [icon]="[ 'fas', 'align-right' ]" size="lg"></fa-icon>
        <fa-icon class="visible-on-sidebar-mini" [icon]="[ 'fas', 'align-justify' ]" size="lg"></fa-icon>
      </button>
    </div>
  </div>
  <pl-sidebar-wrapper></pl-sidebar-wrapper>
</div>
